<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdna.firstapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="bitpunk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp">
        <activity
            android:name=".chart"
            android:exported="false" />
        <activity
            android:name=".nft_place"
            android:exported="false" />
        <activity
            android:name=".landing_page"
            android:exported="false" />
        <activity
            android:name=".landing"
            android:exported="false"
            android:label="@string/title_activity_landing"
            android:theme="@style/Theme.FirstApp.NoActionBar" />
        <activity
            android:name=".acc_offline"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".fluxcoin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".eth"
            android:exported="false" />
        <activity
            android:name=".Econ"
            android:exported="false" />
        <activity
            android:name=".bitcoin"
            android:exported="false" />
        <activity
            android:name=".Apx"
            android:exported="false" />
        <activity
            android:name=".Algo"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>